<div class="container">
    <!--header-->
    <div class="jumbotron text-center">
        <h1>Angular TODO List
            <span *ngIf="todos" class="label label-info">Todo:{{todoLength}} Finished:{{finished}}</span>
        </h1>
    </div>

    <!--list all-->
    <div id="todo-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="checkbox" *ngFor="let todo of todos">
                <label [ngClass]="{'markedDone':todo.finish}">
                    <input type="checkbox" [checked]="todo.finish" (click)="deleteTodo(todo._id,!todo.finish)" >{{todo.text}}
                    
                </label>
            </div>
        </div>
    </div>

    <!--all new form to insert-->
    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form (ngSubmit)="createTodo()" #addForm="ngForm">
                <div class="form-group">
                    <input type="text" placeholder="enter a new task" [(ngModel)]="todo.text" required #text="ngModel" name="text" class="form-control input-lg text-center">
                    <ngb-alert [hidden]="text.valid||text.pristine" type="danger" [dismissible]="true">task name is required</ngb-alert>
                </div>
                <button type="submit" class="btn btn-primary btn-lg" [disabled]="!addForm.form.valid&&!!addForm.form.pristine">Add</button>
            </form>
        </div>
    </div>
</div>